:root {
  --color-bg-primary: #F7DCCB;
  --color-text-white: #FFFFFF;

  --font-family-primary: 'Gilroy', 'Montserrat', Arial, sans-serif;
  --font-family-heading: 'Gilroy', 'Montserrat', Arial, sans-serif;

  --font-size: 10px;
  --font-size: 13px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
